<h1>List of Teachers</h1>

<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
	</thead>
	<tbody>
		<% @teachers.each do |teacher| %>
		<tr>
			<td><%= teacher.id %></td>
			<td><%= link_to(teacher.name, teacher_path(teacher.id)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<hr />

<%= link_to("New Teacher", :new_teacher) %>