<% if @edit_term %>
  <% @edit_term.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<h1>Edit Term</h1>
<form method="post" action="<%= update_term_path(@term.id) %>">
	<p>
		Term Name:<br />
		<input type="text" name="name" />
	</p>
  
  <input type="submit" />
</form>