<h1>List of Terms</h1>

<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
	</thead>
	<tbody>
		<% @terms.each do |term| %>
		<tr>
			<td><%= term.id %></td>
			<td><%= link_to(term.name, term_path(term.id)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<hr />

link_to("New Term", :new_term)