<% if @new_term %>
  <% @new_term.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<h1>Add a Term</h1>
<form method="post" action="<%= create_term_path() %>">
	<p>
		Term Name:<br />
		<input type="text" name="name" />
	</p>
  <input type="submit" />
</form>